In [1]:
import numpy as np
import pandas as pd
data = pd.read_excel("order.xlsx")
df = pd.DataFrame(data)
print(df)

      Order ID Order Date  Order Quantity       Sales       Ship Mode  \
0            3 2010-10-13               6    261.5400     Regular Air
1            6 2012-02-20               2      6.9300     Regular Air
2           32 2011-07-15              26   2808.0800     Regular Air
3           32 2011-07-15              24   1761.4000  Delivery Truck
4           32 2011-07-15              23    160.2335     Regular Air
...        ...        ...             ...         ...             ...
1002      7171 2011-02-13              17    303.1865     Regular Air
1003      7174 2012-03-10              10    141.9200     Regular Air
1004      7175 2010-02-07              10    748.2500  Delivery Truck
1005      7203 2009-01-08              25  21752.0100     Regular Air
1006      7239 2011-06-29              50   6206.1600     Regular Air

        Profit  Unit Price       Customer Name Customer Segment  \
0     -213.250       38.94  Muhammed MacIntyre   Small Business
1       -4.640        2.08         Ruben Dartt        Corporate
2     1054.820      107.53       Liz Pelletier        Corporate
3    -1748.560       70.89       Liz Pelletier        Corporate
4      -85.129        7.99       Liz Pelletier        Corporate
...        ...         ...                 ...              ...
1002    92.592       20.99        Andy Gerbode         Consumer
1003    12.200       13.73     Thomas Thornton         Consumer
1004   -86.990       70.98      Helen Andreada        Corporate
1005  9296.348      896.99         Ruben Dartt        Corporate
1006  1416.270      120.33       Craig Carroll   Small Business

     Product Category
0     Office Supplies
1     Office Supplies
2           Furniture
3           Furniture
4          Technology
...               ...
1002       Technology
1003        Furniture
1004        Furniture
1005  Office Supplies
1006  Office Supplies

[1007 rows x 10 columns]